.axis {
	opacity: 0.7;
	font-size: 1em;
}
.tooltip_div {
	font-size: 1.2em;
	position: absolute;
	overflow: auto;
	background-color: #fdbe33;
	padding: 10px;
	border-radius: 10px;
}
.svg-dots {
/*	fill: #030f27;*/
	stroke-width: 4;
	opacity: 0.83;
}
.svg-dots:hover {
	cursor: pointer;
}
.overlay-svg {
	fill: #ffffff;
}
.dropdown-item {
	cursor: pointer;	
}